<!DOCTYPE html>
<html lang="en">
<style>
    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }

    .nodes circle {
      stroke: #fff;
      stroke-width: 1.25px;
    }

    text {
      font-family: sans-serif;
      font-size: 10px;
    }

    div.tooltip {
        position: absolute;
        background-color: white;
        max-width: 200px;
        height: auto;
        padding: 1px;
        border-style: solid;
        border-radius: 4px;
        border-width: 1px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
        pointer-events: none;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>vConTACT3 Network Visualization</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.13.0/d3-legend.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
</head>

<body>

<div id="node_color" class="control"></div>

<svg width="1120" height="720" style="outline: 1px solid"></svg>

<script>

    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height"),
        radius = 6;

    var tooltip = d3.select("body")
        .append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    // Call zoom for svg container.
    svg.call(d3.zoom().on('zoom', zoomed));

    var sequentialScale = d3.scaleOrdinal(d3.schemeSet3)
        .domain([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]);

    // Colors
    var byName = d3.scaleOrdinal(d3.schemeCategory20);
    var byRealm = d3.scaleOrdinal(d3.schemeCategory20);
    var byKingdom = d3.scaleOrdinal(d3.schemeCategory20);
    var byPhylum = d3.scaleOrdinal(d3.schemeCategory20);
    var byClass = d3.scaleOrdinal(d3.schemeCategory20);
    var byOrder = d3.scaleOrdinal(d3.schemeCategory20);
    var byFamily = d3.scaleOrdinal(d3.schemeCategory20);
    var bySubFamily = d3.scaleOrdinal(d3.schemeCategory20);
    var byGenus = d3.scaleOrdinal(d3.schemeCategory20);
    var byComponent = d3.scaleOrdinal(d3.schemeCategory20);
    var byRawComponent = d3.scaleOrdinal(d3.schemeCategory20);
    var byReference = d3.scaleLinear().domain([true, false]).range(["#7b0000", "#120a8f"]);

    var colFuncs = {
      "Name": function (d) {
        return byName(d.label);
      },
      "Realm": function (d) {
        return byRealm(d["realm (prediction)"]);
      },
      "Phylum": function(d) {
        return byPhylum(d["phylum (prediction)"]);
      },
      "Class": function(d) {
        return byClass(d["class (prediction)"]);
      },
      "Order": function(d) {
        return byOrder(d["order (prediction)"]);
      },
      "Family": function(d) {
        return byFamily(d["family (prediction)"]);
      },
      "Subfamily": function(d) {
        return bySubFamily(d["subfamily (prediction)"]);
      },
      "Genus": function(d) {
        return byGenus(d["genus (prediction)"]);
      },
      "Reference": function(d) {
        return byReference(d["Reference"]);
      }
    };

    var currentColFunc = colFuncs["Name"];

    // Gravity
    var forceX = d3.forceX(width / 2).strength(0.05);
    var forceY = d3.forceY(height / 2).strength(0.05);

    // Force-directed layout
    var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }))
        .force("charge", d3.forceManyBody().strength(-15))
        .force("x", forceX)
        .force("y", forceY)
        .force("center", d3.forceCenter(width / 2, height / 2));

    // Load JSON network
    var data = {{ json_data|tojson|safe }};

    function draw(graph) {
        graph.links = graph.links.map(function(d) {
            return {
                source: d.source, target: d.target, value: +d.weight
            }
        });

        var link = svg.append("g")
            .attr("class", "links")
            .selectAll("line")
            .data(graph.links)
            .enter().append("line")
            .attr("stroke-width", function (d) {
                return Math.sqrt(d.weight);
            });

        var node = svg.append("g")
            .attr("class", "nodes")
            .selectAll("g")
            .data(graph.nodes)
            .enter().append("g");

        var circles = node.append("circle")
            .attr("r", 5)
            .attr("fill", function(d) {
                return byName(d.id);
            })
            .call(d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended))
            .on('mouseover.tooltip', function(d) {
                tooltip.transition()
                    .duration(300)
                    .style("opacity", .8);
                tooltip.html("ID: " + d.id +
                "<br/>Name: " + d.GenomeName +
                "<br/>RefSeqID: " + d.RefSeqID +
                "<br/>Realm (prediction): " + d["realm (prediction)"] +
                "<br/>Phylum: " + d["phylum (prediction)"] +
                "<br/>Class: " + d["class (prediction)"] +
                "<br/>Order: " + d["order (prediction)"] +
                "<br/>Family: " + d["family (prediction)"] +
                "<br/>SubFamily: " + d["subfamily (prediction)"] +
                "<br/>Genus: " + d["genus (prediction)"])
                    .style("left", (d3.event.pageX) + "px")
                    .style("top", (d3.event.pageY + 10) + "px");
            })
            .on("mouseout.tooltip", function() {
                tooltip.transition()
                    .duration(100)
                    .style("opacity", 0);
            })
            .on("mousemove", function() {
                tooltip.style("left", (d3.event.pageX) + "px")
                    .style("top", (d3.event.pageY + 10) + "px");
            })
            .on('dblclick', releasenode);

        simulation
            .nodes(graph.nodes)
            .on("tick", ticked);

        simulation.force("link")
            .links(graph.links);

        function ticked() {
            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node
                .attr("transform", function(d) {
                    return "translate(" + d.x + "," + d.y + ")";
                })
                .attr("cx", function(d) { return d.x = Math.max(radius, Math.min(width - radius, d.x)); })
                .attr("cy", function(d) { return d.y = Math.max(radius, Math.min(height - radius, d.y)); });
        }

        d3.select("body").insert("select", ":first-child")
            .on("change", function() {
                var e = d3.event;
                if (e) {
                    currentColFunc = colFuncs[e.target.value];
                    updateColour();
                }
            })
            .selectAll("option")
            .data(d3.keys(colFuncs))
            .enter()
            .append("option")
            .attr("value", function(d) { return d; })
            .text(function(d) { return d; });

        function updateColour() {
            circles.attr("fill", function(d) {
                return currentColFunc(d);
            });
        }

        svg.append("g")
            .attr("class", "legendSequential")
            .attr("transform", "translate(" + (width - 140) + "," + (height - 300) + ")");

        var legendSequential = d3.legendColor()
            .shapeWidth(30)
            .cells(11)
            .orient("vertical")
            .title("Group number by color:")
            .scale(sequentialScale);

            svg.select(".legendSequential").call(legendSequential);

        var slider = d3.select('body').append('p').text('Edge Weight Threshold: ');

        slider.append('label')
            .attr('for', 'threshold')
            .text('1');
        slider.append('input')
            .attr('type', 'range')
            .attr('min', 0)
            .attr('max', 1) // Adjust this max value based on your data
            .attr('step', 0.1) // Allows for decimal values
            .attr('value', 1)
            .attr('id', 'threshold')
            .style('width', '50%')
            .style('display', 'block')
            .on('input', function () {
                var threshold = +this.value; // Ensure the threshold is treated as a number

                d3.select('label').text(threshold);

                // Filter links based on the threshold
                var newData = graph.links.filter(function(d) {
                    {#var weight = +d.weight#}
                    var weight = parseFloat(d.weight);
                    return weight <= threshold; // Convert weight to a number if it's a string
                });

                // Data join with the filtered links
                var linkUpdate = link.data(newData, function(d) { return d.source.id + ', ' + d.target.id; });

                // Remove old links
                linkUpdate.exit().remove();

                // Add new links
                var linkEnter = linkUpdate.enter().append('line')
                    .attr('class', 'link')
                    .attr('stroke-width', function(d) { return Math.sqrt(d.weight); });

                // Merge new links with existing links
                link = linkEnter.merge(linkUpdate);

                // Restart the simulation with the new link data
                simulation
                    .nodes(graph.nodes)
                    .force("link").links(newData)
                    .alpha(1).restart();
            });

    function fade(opacity) {
        return d => {
            node.style('stroke-opacity', function (o) {
                const thisOpacity = isConnected(d, o) ? 1 : opacity;
                this.setAttribute('fill-opacity', thisOpacity);
                return thisOpacity;
            });

            link.style('stroke-opacity', o => (o.source === d || o.target === d ? 1 : opacity));
        };
    }
}

function dragstarted(d) {
    if (!d3.event.active) simulation.alphaTarget(0.3).restart();
    d.fx = d.x;
    d.fy = d.y;
}

function releasenode(d) {
    d.fx = null;
    d.fy = null;
}

function dragged(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
}

function dragended(d) {
    if (!d3.event.active) simulation.alphaTarget(0);
    d.fx = null;
    d.fy = null;
}

function zoomed() {
    svg.attr("transform", "translate(" + d3.event.transform.x + ", " + d3.event.transform.y + ") scale(" + d3.event.transform.k + ")");
}

draw(data);
</script>
</body>
</html>
```